@model UmbracoMembers.Models.MemberResetPasswordSetModel
@{
    using (Html.BeginUmbracoForm<UmbracoMembers.Controllers.MemberResetPasswordSurfaceController>("MemberResetPasswordSet", "MemberResetPasswordSet"))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <h2>Enter your new password</h2>
        @Html.HiddenFor(x => x.Email)
        @Html.HiddenFor(x => x.ValidateGUID)
        <div class="controls controls-row">
            @Html.LabelFor(m => m.PasswordNew, "Enter Your new Password: ", new { @name = "passwordLbl", @class = "frmLabel" })
            @Html.PasswordFor(m => m.PasswordNew, new { @class = "password", placeholder = "New Password" })
            @Html.ValidationMessageFor(m => m.PasswordNew)
        </div>
        <div class="controls controls-row">
            @Html.LabelFor(m => m.PasswordNew2, "Re-enter Your new Password: ", new { @name = "passwordLbl", @class = "frmLabel" })
            @Html.PasswordFor(m => m.PasswordNew2, new { @class = "password", placeholder = "New Password Again" })
            @Html.ValidationMessageFor(m => m.PasswordNew2)
        </div>
        <div class="controls">
            <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Set your new password</button>
            <p>@TempData["Status"]</p>
        </div>
    }
   
}
