@model UmbracoMembers.Models.MemberResetPasswordModel
@{
    if (@TempData["Success"] == null)
    {
        using (Html.BeginUmbracoForm<UmbracoMembers.Controllers.MemberResetPasswordSurfaceController>("MemberResetPassword", "MemberResetPassword"))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <h2>Enter your email address to reset your password</h2>
            @* as we've made this required (for step 2)- empty string here*@
            @Html.HiddenFor(x => x.ValidateGUID)
            <div class="controls controls-row">
                @Html.LabelFor(m => m.Email, "Enter Your Email / Username: ", new { @name = "usernameLbl", @class = "frmLabel" })
                @Html.TextBoxFor(m => m.Email, new { @class = "email", placeholder = "Email / Username" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="controls">
                <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Reset Password</button>
                <p>@TempData["Status"]</p>
            </div>
        }
    }
    else
    {
        <div class="controls">
            <p>@Html.Raw(@TempData["Status"])</p>
        </div>
    }
}
